@page "/CarViews/create"
@using Microsoft.Extensions.Logging;
@using BussinessLayer;
@using ServiceLayer2;
@inject CarManager carManager;
@inject ModelManager modelManager;
@inject ErrorModel errorModel;
@inject NavigationManager navigationManager;


<h3>Create Hobby</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <label for="Price">Price: </label>
    <InputNumber @bind-Value="model.Price"></InputNumber>

    <label for="Mileage">Mileage: </label>
    <InputNumber @bind-Value="model.Mileage"></InputNumber>

    <label for="Mileage">Mileage: </label>
    <InputNumber @bind-Value="model.Mileage"></InputNumber>

    <label for="Mileage">Description: </label>
    <InputNumber @bind-Value="model.Description"></InputNumber>

    <label for="HorsePower">HorsePower: </label>
    <InputNumber @bind-Value="model.HorsePower"></InputNumber>


    <InputSelect class="form-select" @bind-Value="model.ModelId" >
        @foreach (Model model in modelManager.ReadAllAsync().Result)
        {
            <option value="@model.Id">@model.Name</option>
        }
    </InputSelect>
</EditForm>

@code
{
    private BussinessLayer.Car model = new();
    private async Task HandleValidSubmit()
    {
        try
        {
            await carManager.CreateAsync(model);
            

            navigationManager.NavigateTo("hobby/index", false);       
        }
        catch (Exception ex) 
        {
            
        }
    }

}
