@page "/car/update/{carId:int}"
@using Microsoft.Extensions.Logging;
@using BussinessLayer;
@using ServiceLayer2;
@inject CarManager carManager;
@inject ModelManager modelManager;
@inject NavigationManager navigationManager;

<h3>Update</h3>

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit" style="display: flex; flex-direction:column;width: 60%;">
    <label for="Price">Price: </label>
    <InputNumber @bind-Value="model.Price" ></InputNumber>

    <label for="Mileage">Mileage: </label>
    <InputNumber @bind-Value="model.Mileage"></InputNumber>

    <label for="Mileage">Description: </label>
    <InputText @bind-Value="model.Description"></InputText>

    <label for="HorsePower">HorsePower: </label>
    <InputNumber @bind-Value="model.HorsePower"></InputNumber>


    <InputSelect class="form-select" @bind-Value="model.ModelId">
        @foreach (Model model in modelManager.ReadAllAsync().Result)
        {
            <option value="@model.Id">@model.Name</option>
        }
    </InputSelect>

    <button type="submit">Edit</button>

</EditForm>

<div>
    <a href="hobby/index">Back to List</a>
</div>

@code 
{
    private Car model = new();

    private EditContext editContext;

    [Parameter]
    public int carId { get; set; }

    protected override async Task<Task> OnInitializedAsync()
    {
        model.Id = carId;
        editContext = new EditContext(model);
        model = await carManager.ReadAsync(carId);

        return base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        await carManager.UpdateAsync(model);

        navigationManager.NavigateTo("car/index", false);

    }

}
